<!DOCTYPE html>
<html>
    <head>
      <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

      <!-- Chrome, Firefox OS, Opera and Vivaldi -->
      <meta name="theme-color" content="#FF9012">
      <!-- Windows Phone -->
      <meta name="msapplication-navbutton-color" content="#FF9012">
      <!-- iOS Safari -->
      <meta name="apple-mobile-web-app-status-bar-style" content="#FF9012">

      <title>Mirror Mirror</title>
      <link href="stylesheets/style.css">
    </head>
    <body ng-cloak ng-controller="MainController">

      <div class="main-container" ng-cloak>
        <div ng-view autoscroll="true"></div>
      </div>

      <div class="overlay overlay-container">
        <button type="button" class="overlay-close">Close</button>
        <nav>
          <ul>
            <li><a href="/home" class="menu-link">Start</a></li>
            <li><a href="/news" class="menu-link">News</a></li>
            <li><a href="/off" class="menu-link">Off</a></li>
            <li><a href="/reminders" class="menu-link">Reminders</a></li>
          </ul>
        </nav>
      </div>

    </body>
</html>
